<mat-sidenav-container class="admin-shell">
  <mat-sidenav mode="side" opened class="sidebar">
    <div class="brand">
      <span class="brand-mark">🍔</span>
      <span class="brand-name">Comanda<br><small>Admin</small></span>
    </div>
    <nav class="menu">
      <ng-container *ngFor="let item of nav">
        <a *ngIf="visivel(item)" [routerLink]="item.link" routerLinkActive="active" class="menu-item">
          <mat-icon [matBadge]="alertasCount" [matBadgeHidden]="item.link !== 'estoque' || alertasCount === 0"
                    matBadgeColor="warn" matBadgeSize="small">{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      </ng-container>
    </nav>
    <a routerLink="/" class="menu-item back"><mat-icon>storefront</mat-icon><span>Ver cardapio</span></a>
  </mat-sidenav>

  <mat-sidenav-content class="main">
    <header class="topbar">
      <span class="spacer"></span>
      <ng-container *ngIf="(user$ | async) as user">
        <span class="perfil-chip">{{ user.perfil }}</span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon> {{ user.nome }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Sair</button>
        </mat-menu>
      </ng-container>
    </header>

    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
